_tmp
tmp*

# Actual dotenv, use .env_example illustration
.env

# 3rd party libraries
libs
# train run files
runs/**
wandb
# extra models
extras/models/*
# Discord server
server/logs
server/appcmds
server/res
server/cogs/_*
# state store
server/config/persistent_storage.yaml

# Ignore data files but keep structure
/data/*
!data/discord
config/*.json
# custom config.yaml files
config/train/*
!config/train/train_config.yaml
config/eval/*
!config/eval/eval_config.yaml
# Dev files
nbs
imgs
TODO

# VSCode
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints